.wrapper {
    border-bottom: rgb(23 23 23) solid 1px;

    .details {
        opacity: 0;
        transition: ease-in-out 0.2s;
    }

    .btn_play {
        background: rgba(0, 0, 0, 0.6);
    }

    &:hover {
        .details {
            opacity: 1;
        }
    }

    .btn {
        &:hover {
            background-color: #ffffff1a;
        }
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.wrapper.active {
    background-color: #212121;

    .details {
        background-color: #212121;
    }
}

.btn.heart {
    position: relative;
    height: 40px;
    width: 40px;
    background: none;
}

.btn.heart::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    background: url('https://res.cloudinary.com/dctauty0m/image/upload/v1717745777/img_mcurix.png')
        no-repeat;
    background-size: cover;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.btn.heart.active::before {
    animation: animate 0.8s steps(28) 1;
    background-position: right;
}

@keyframes animate {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
