.wrapper {
    background-color: #000;
    // background-image: url('https://solfive.app.tranviet.site/static/images/body-bg.jpg');
    // box-shadow: rgb(33, 33, 33) 0px 0px 30px 15px inset;
    padding-bottom: 112px;
    overflow-x: hidden;
}
