.wrapper {
    background-color: #000;
    padding-bottom: 112px;
    overflow-x: hidden;
    .main {
        transition: all ease-in-out 0.2s;
    }
}

.modal-content {
    border-bottom: 1px solid #4d4d4d;
    border-top: 1px solid #4d4d4d;

    .close-modal {
        transition: all ease-in-out 0.2s;
        &:hover {
            background-color: #ffffff1a;
        }
    }
}

.lyric_container {
    animation: in ease-in-out 0.3s;
}

.btn_hover {
    &:hover {
        background-color: #ffffff1a;
    }
}

@keyframes in {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
